.social__list {
  display: flex;
  margin: 0 auto 20px;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  width: 160px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background: transparent;
  border: 1px solid rgba($color-logo, 0.3);
  border-radius: 5px;

  &:hover {
    background: rgba($color-logo, 0.1);
  }
}

.social__link-image {
  padding-top: 7px;
  fill: $color-logo;



  &:active {
    fill: rgba($white, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    margin: 0;
  }
}
